:root {
  font-family: "Raleway", sans-serif;
  background-color: #d2d7df;
}

h1 {
  text-align: center;
}

h2 {
  text-align: left;
}

form {
  text-align: left;
}

input {
  width: 20%;
  padding: 12px 20px;
  margin: 6px 0;
  border: 1px solid black;
}
